<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/chat.css">
    <title>Chats</title>
</head>
<body>
    <div class="chat-container">
        <!-- Ліва частина: Список чатів -->
        <div class="chat-list">
            <div class="search">
                <input type="text" placeholder="Search chats or users...">
                <div id="user-search-dropdown" class="dropdown"></div>
            </div>
            <ul class="chat-items">
                {% for chat in chats %}
                    <li class="chat-item">
                        <a href="{{ url_for('chats', chat_id=chat.id) }}" class="chat-link">
                            <span>{{ chat.other_username }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="user-profile">
                <div class="profile-info">
                    <h4>{{ username }}</h4>
                </div>
            </div>
        </div>

        <!-- Центральна і права частина: Вікно чату -->
        <div class="chat-window">
            {% if selected_chat %}
                <!-- Додаємо атрибут для user_id -->
                <div id="userId" data-user-id="{{ session['user_id'] }}"></div>
                <div id="chat-data" data-chat-id="{{ selected_chat.id }}"></div>
                <div class="chat-header">
                    <div class="chat-header-left">
                        <span class="username">{{ selected_chat.other_username }}</span>
                    </div>
                </div>

                <div class="chat-messages">
                    {% for message in selected_chat.messages %}
                        <div class="message {% if message.sender_id == session['user_id'] %}sent{% else %}received{% endif %}">
                            <span class="message-text">{{ message.content }}</span>
                            <span class="message-time">{{ message.timestamp.strftime('%H:%M') }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="chat-input">
                    <textarea id="messageInput" placeholder="Type a message..."></textarea>
                    <button id="sendButton" class="send-btn">Send</button>
                </div>
            {% else %}
                <p>Select a chat to start messaging.</p>
            {% endif %}
        </div>
    </div>
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="../static/js/chat.js"></script>
</body>
</html>